<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sample">
    <!-- PERMISSIONS required by the Android system for the features -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Notification"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LocationLayer"></activity>
        <activity android:name=".MyLocationActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${mapsApiKey}" />

        <activity android:name=".MapsActivity" />
        <activity android:name=".InternalExternal" />
        <activity android:name=".RecView" />
        <activity android:name=".Cprogram" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Text" />
        <activity android:name=".DisplayMessageActivity" /> <!-- The splash screen activity that is launched when the application is started -->
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
   The receiver tag to receive intents that Broadcast by the System or other apps or
                Locally in the app
        -->
        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="true" /> <!-- Service tag for the Android System to run the service in the application -->
        <service
            android:name=".PlayStopService"
            android:enabled="true"
            android:exported="false" />
        <!--
 provider tag to include the content provider in our application and
              for other applications to use
        -->
        <provider
            android:name=".MyContentProvider"
            android:authorities="com.example.myApp"
            android:exported="true" />
    </application>

</manifest>